# Copy this file to .env and set your local backend ports

VITE_AUTH_API_URL=http://localhost:8001
VITE_SCHEME_API_URL=http://localhost:8001
VITE_HOUSING_API_URL=http://localhost:8003
VITE_CHATBOT_API_URL=http://localhost:8000
VITE_COMPLAINT_API_URL=http://localhost:8000
VITE_EMERGENCY_API_URL=http://localhost:8000
VITE_CYBER_API_URL=http://localhost:8000
